// Menu button
.menu-button {
  position: absolute;
  z-index: 10; //so always at topmost layer
  left: 40px; //was right
  top: 40px;

  cursor: pointer; //finger pointer when hovering over it
  @include easeOut; //this mixin is in config, which is imported before this _menu.scss is

  .button-line {
    //this makes the 3 lines of the menu button, contained in the menu-button class
    width: 40px;
    height: 4px;

    margin: 0 0 5px 0; //only margin on bottom
    background: white;

    @include easeOut;
  }

  // Rotate the 3 bars of the menu button into X
  //style the menu button when it has the class of 'close'
  &.close {
    // all 3 bars rotates 180deg
    transform: rotate(180deg);

    .button-line {
      // Line 1 rotates 45 degrees to make the X, moves 5px x and y direction (right down)
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 disappears
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 rotates
      &:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -7px);
      }
    }
  }
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9; //see through to background. affects entire menu, even text

  // By default, the menu items (Home, About...etc.) are hidden.
  visibility: hidden;

  // Only when we added the 'show' class with javascript to .menu do we show the items
  &.show {
    visibility: visible;
  }

  // Styling for both the profile pic side and the nav side
  // "-profilePic" works because it turns into whatever's right at the top (.menu) and adds "-profilePic" to get "menu-profilePic"
  &-profilePic,
  &-nav {
    display: flex; //css flexbox
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%; //half the width of the screen
    height: 100vh; //the viewport will cover the whole viewport
    overflow: hidden; //never show scrollbars
  }

  // only styling the page nav part
  &-nav {
    margin: 0;
    padding: 0;
    //use primary color but darken it a little
    background: darken($primary-color, 18);
    list-style: none;

    //initially hidden off the top of the page
    transform: translate3d(0, -100%, 0);
    //100% pushes it down, -100% pushes it up
    @include easeOut;

    // when show class is applied
    &.show {
      transform: translate3d(0, 0, 0); //goes back to original positon
      // along with easeOut, creates a slide-in from the top effect
    }
  }

  // profile pic side
  &.profilePic {
    background: $primary-color;

    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
}
