@import "config";
@import "menu";
@import "mobile";
//ignore underscore and file extension when import
//underscore before name means its a partial

* {
  // For everything.
  // Include padding and border in the element's total width and height
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.large-heading {
    //Adding & means the class .large-heading that is attached to h1 h2 h3, NOT within
    font-size: 5rem;
  }

  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; //LeftRight TopBottom
    //use the primary color and lighten it as the bg
    //wrap in rgba, so you can set the alpha to 0.5, and so can see through to background
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  // Sets the social media icons
  color: white;
  text-decoration: none; //no underline
}

header {
  // So the the header (basically the menu icon) don't scroll with the page
  position: fixed;
  z-index: 10; //always at front
  width: 100%; //across whole screen
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  // only affect the div icons class inside main
  .icons {
    margin-top: 1rem; //push the icons down from h2 a little

    a {
      // each icon is wrapped in 'a', making some space between them
      padding: 0.4rem;

      //bascialy a:hover
      &:hover {
        color: $secondary-color;
        // create a fade into the secondary color effect that takes 1s,
        // calls the transition defined in the mixin in the config file
        @include easeOut();
      }
    }
  }

  //do this to affect this main only, as i added an id="home"
  &#home {
    overflow: hidden; //never show scrollbars
    h1 {
      margin-top: 20vh; //20% of viewport height
    }
  }
}
