@import "config";
@import "menu";
//ignore underscore and file extension when import
//underscore before name means its a partial

* {
  // For everything.
  // Include padding and border in the element's total width and height
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;

  &.large-heading {
    //Adding & means the class .large-heading that is attached to h1 h2 h3, NOT within
    font-size: 5rem;
  }

  &.medium-heading {
    font-size: 3rem;
  }

  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; //LeftRight TopBottom
    //use the primary color and lighten it as the bg
    //wrap in rgba, so you can set the alpha to 0.5, and so can see through to background
    // background: rgba(lighten($primary-color, 2), 0.5); //looks bad with this strip rn
  }

  &.location-heading {
    font-style: italic;
  }
}

a {
  // Sets the social media icons
  color: white;
  text-decoration: none; //no underline
}

header {
  // So the the header (basically the menu icon) don't scroll with the page
  position: fixed;
  z-index: 10; //always at front
  width: 100%; //across whole screen
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // to make sticky footer, calculate the height
  // height: 100%;
  min-height: calc(100vh - 60px); //full viewport height - footer height

  // only affect the div icons class inside main
  .icons {
    margin-top: 1rem; //push the icons down from h2 a little

    a {
      // each icon is wrapped in 'a', making some space between them
      padding: 0.4rem;

      //bascialy a:hover
      &:hover {
        color: $secondary-color;
        // create a fade into the secondary color effect that takes 1s,
        // calls the transition defined in the mixin in the config file
        @include easeOut();
      }
    }
  }

  //do this to affect this main only, as i added an id="home"
  &#home {
    overflow: hidden; //never show scrollbars
    h1 {
      margin-top: 20vh; //20% of viewport height
    }
  }
}

//grid CSS for about page
.about-info {
  display: grid;
  grid-gap: 30px;
  //bio-profilePic bio bio means bio takes up 2/3 of the space, and bio-profilePic 1/3
  //Must have same number of columns for each row
  grid-template-areas:
    "bioPic bio bio"
    "school1 school2 school3";
  grid-template-columns: repeat(3, 1fr); //1fr 1fr 1fr
}

.bio-profilePic {
  grid-area: bioPic; //grid area should match position in grid-template-areas above
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.school-1 {
  grid-area: school1;
}

.school-2 {
  grid-area: school2;
}

.school-3 {
  grid-area: school3;
}

.school {
  //add a gray bg and blue border above and beneath to style it
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-top: $secondary-color 5px solid;
  border-bottom: $secondary-color 5px solid;
}

//created sticky footer under main
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//on the bottom here cuz we want it to run after the initial css
@import "mobile";
